.bg-morning {
    background-color: rgba(242, 245, 82, 0.986);
}

.bg-afternoon {
    background-color: rgb(177, 99, 96);
}

.bg-night {
    background-color: rgb(80, 76, 76);
    color: rgb(147, 145, 240);
}

#title {
    text-align: center;
    font: normal 12pt Arial;
    display: flex;
    flex-direction: column;
}

#hours-image {
    background-color: white;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 10px;
    border-radius: 10px;
    
    font: normal 9pt Arial;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 5px 2px 8px black;
    min-width: 240px;
    min-height: 190px;
    
}

#image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 8px 8px 8px black;
    margin-top: 8px;
    margin-bottom: 5px;
}

#credits {
    text-align: center; 
    padding-top: 10px;
    font: normal 10pt Arial; 
    font-style: italic; 
    font-weight: bold;
}